body {
    color: white;
    background-image: urL(https://i.imgur.com/NwWgAoY.png);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
nav {
    background: #00000040;
}
nav .menu-button {
    color: white;
}
h1  {
    color: white;
}
.header {
    padding: 20px;
    width: 75%
}
.windows-download-button {
    background: #0066B8;
    color: white;
    border: 0;
    box-shadow: 0px 2px 7px 0px #0000001a;
    cursor: pointer;
    font-size: 16px;
    font-family: Lato;
    padding: 20px;
    display: inline-flex;
    align-items: center; 
    margin: 20px;
    border-radius: 5px;
    transition: 0.2s;
    width: 260.41px;
}
.linux-download-button {
    background: black;
    color: white;
    border: 0;
    box-shadow: 0px 2px 7px 0px #0000001a;
    cursor: pointer;
    font-size: 16px;
    font-family: Lato;
    padding: 20px;
    display: inline-flex;
    align-items: center; 
    margin: 20px;
    border-radius: 5px;
    transition: 0.2s;
    width: 260.41px;
}
.macos-download-button {
    background: #333333;
    color: white;
    border: 0;
    box-shadow: 0px 2px 7px 0px #0000001a;
    cursor: pointer;
    font-size: 16px;
    font-family: Lato;
    padding: 20px;
    display: inline-flex;
    align-items: center; 
    margin: 20px;
    border-radius: 5px;
    transition: 0.2s;
    width: 260.41px;
}

.windows-download-button span::after {
    content: "      Latest version (1.2)";
    font-size: 13px;
}

.windows-download-button:hover {
    box-shadow: 0px 2px 7px 0px #0000004a;
    transform: translate(0px, -5px);
}
.windows-download-button img {
    width: 40px;
    height: 100%;
    margin-right: 15px;
}
.github-button img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    filter: invert(1);
}
.android-download-button img {
    width: 40px;
    height: 22.53px;
    margin-right: 15px;
}
.header-grid {
    display: grid;
    grid-template-columns: 40% 60%;
}
.header-img {
    width: 100%;
    box-shadow: 0px 2px 7px 0px #0000001a;
    border-radius: 5px;
}
.centered-screenshot {
    align-items: center;
    display: flex;
}
.newest-update {
    background-color: #43b6bb;
    color: white;
    padding: 50px;
}
.part1 {
    background-color: #5facea;
    color: white;
    padding: 50px;
}
.part2 {
    background-color: #64b752;
    color: white;
    padding: 50px;
}
.part3 {
    background-color: #ea5f5f;
    color: white;
    padding: 50px;
}
.part4 {
    background-color: #9a95fd;
    color: white;
    padding: 50px;
}
.part-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.part-grid img {
    width: 60%;
    box-shadow: 0px 2px 7px 0px #0000001a;
    border-radius: 5px;
}
@media only screen and (max-width: 1015px) {
    .centered-screenshot {
        display: none;
    }
    .header-grid {
        grid-template-columns: 100%;
    }
    .part-grid {
        grid-template-columns: 100%;
    }
    .part-grid img {
        display: none;
    }
    div[style="display: flex; align-items: center;"] {
        display: block !important;
    }
}
body.dark .part1 {
    background: #1b2022;
}
body.dark .newest-update {
    background: #323639;
}