/* General Styles */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    color: #595959;
    font-family: Lato;
    font-size: 16px;
    letter-spacing: -0.5px;
}
body {
    --lkg-blue: #5facea;
    --lkg-green: #64b752;
    --lkg-turquoise: #43b6bb;
    --lkg-purple: #9a95fd;
    --lkg-pink: #f680c1;
    --lkg-orange: #dd9257;
    --lkg-red: #ea5f5f;
    --lkg-yellow: #ddcc57;
}
body#sticky-menu {
    padding-top: 78px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Lexend;
    color: #444444;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
button.normal {
    background: #5facea;
    color: white;
    border: 0;
    box-shadow: 0px 2px 7px 0px #0000001a;
    cursor: pointer;
    font-size: 16px;
    font-family: Lato;
    padding: 20px;
    margin: 0px;
    border-radius: 5px;
    transition: 0.2s;
}
button.normal:hover {
    box-shadow: 0px 2px 7px 0px #0000004a;
    transform: translate(0px, -5px);
}
.announcement-box {
    padding: 25px;
    background: #cdaa000f;
}
nav a {
    color: #333333;
    text-decoration: none;
    font-family: PT Sans;
    font-weight: bold;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 78px;
    width: 100%;
    top: 0;
    z-index: 10;
}
body#sticky-menu .nav-ul {
    position: fixed;
    box-shadow: -2px 1px 12px 3px #0000004f;
    background: #ffffff7d;
    backdrop-filter: blur(2px);
}
.nav-ul li#logo {
     float: left;
}
.nav-ul li {
     float: right;
     transition: 0.2s;
}
.menu-button:hover {
    background: #5656560f;
}
.nav-ul li a {
    display: block;
     padding: 0px;
}
.menu-button img {
    max-height: 35px;
    height: 100%;
    transition: 0.3s;
    border-radius: 2px;
}
.menu-button:hover img {
    transform: rotate(360deg);
}
.menu-button {
    border: 0;
    background: transparent;
    font-family: Lexend;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    padding: 10px 6px;
    height: 78px;
    min-width: 78px;
    cursor: pointer;
    color: #333333;
    user-select: none;
}
@font-face {
    font-family: Lexend;
    src: url("/fonts/LexendBold.otf") format("opentype"), url("/fonts/LexendRegular.otf") format("opentype"), url("/fonts/LexendLight.otf") format("opentype")
}
/* Footer */
footer h2 {
    color: white;
}
footer {
    background: var(--lkg-blue);
    padding: 10px;
    color: white;
}
div#footer-inside {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}
img#footer-img {
    width: 138px;
}
@media only screen and (max-width: 930px) {
    div#footer-inside {
        grid-template-columns: none;
}
    div#footer-inside hr {
        display: block;
    }
}
@media only screen and (min-width: 930px) {
    div#footer-inside hr {
        display: none;
    }
}
div#footer-inside hr {
    border-width: 1px;
    height: 0px;
    width: 100%;
    border-style: solid;
    padding: 0px;
    border-radius: 5px;
}
footer a {
    color: white !important;
}
/* Homepage */
.homepage-game {
    background-position: center;
}
.homepage-game h2 {
    color: white;
}
.homepage-game#blocks img {
    max-width: 890px;
    width: 100%;
}
.homepage-game#clicker img {
    max-width: 440px;
    width: 100%;
}
.homepage-game#dash img {
    max-width: 568px;
    width: 100%;
}
.homepage-game#roller img {
    max-width: 530px;
    width: 100%;
}
.homepage-game .background-blur {
    padding: 50px;
    backdrop-filter: blur(2px);
    background-color: #1317198c;
}
.homepage-game#blocks  {
    background-image: url(/images/2048-blocks-bg.png);
}
.homepage-game#clicker  {
    background-image: url(/images/lkc-home-background.png);
}
.homepage-game#dash  {
    background-image: url(/images/lkd-home-background.png);
}
.game-play-button {
    background: #5facea;
    color: white;
    border: 0;
    box-shadow: 0px 2px 7px 0px #0000001a;
    cursor: pointer;
    font-size: 16px;
    font-family: Lato;
    padding: 20px;
    align-items: center; 
    margin: 20px;
    border-radius: 5px;
    transition: 0.2s;
    width: 251.17px;
}
.game-play-button:hover {
    box-shadow: 0px 2px 7px 0px #0000004a;
    transform: translate(0px, -5px);
}

/* Categories */
.category-header-container {
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-position-y: center;
    background-size: cover;
}
.category-header-container#lkg {
    background-image: url(/images/lekrkoekj-fast.gif);
    background-color: white;
    background-repeat: repeat;
    background-size: contain;
}
.category-header-overlay {
    height: 150px;
    width: 100%;
    background: #1317198c;
    vertical-align: middle;
    backdrop-filter: blur(4px);
}
.category-header-overlay h1 {
    color: white;
    margin: 0;
    font-size: 80px;
    padding-top: 10px;
}
@media only screen and (max-width: 930px) {
    .category-header-overlay h1 {
        font-size: 45px !important;
    }
    .category-header-title-container {
        transform: translateY(42px) !important;
    }
}
.category-header-title-container {
    transform: translateY(15px);
}
.category-grid {
    display: grid;
    grid-template-columns: calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7);
    padding: 10px;
}
.category-grid button.normal img {
    height: 150px;
}
.category-grid button.normal {
    width: 190px;
    margin: 10px;
}
@media only screen and (max-width: 1394px) {
    .category-grid {
        grid-template-columns: calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6);
    }
}
@media only screen and (max-width: 1206px) {
    .category-grid {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}
@media only screen and (max-width: 1004px) {
    .category-grid {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media only screen and (max-width: 806px) {
    .category-grid {
        grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    }
}
@media only screen and (max-width:  608px) {
    .category-grid {
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (max-width:  412px) {
    .category-grid {
        grid-template-columns: 100%;
    }
}

/* Game pages */
button#fullscreen {
    position: absolute;
    border-radius: 0px 0px 5px 0px;
    background: #ffffffe3;
    font-family: Lexend;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 30px 0px rgba(34,56,101,0.1);
    border: 0;
    transition: 0.3s;
}
button#fullscreen:hover {
    box-shadow: 0px 4px 30px 0px rgba(34, 56, 101, 0.18);
    background: white;
}
div#container object {
    box-shadow: 0px 4px 30px 0px rgba(34,56,101,0.1);
}
div#container {
    margin: 25px;
}
img[alt="Andere Geems"] {
    filter: invert(1);
}
div#container object, div#container iframe {
    width: 85vw;
    height: 100vh;
    border: 0;
}
.lkd-links {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}
/* Dark Mode */
@media (prefers-color-scheme: dark) { 
    .game-play-button {
        background: #1b2022;
    }
    h1, h2, .body-dark h3, .body-dark h4, .body-dark h5, .body-dark h6 {
        color: white;
    }
    body#sticky-menu .nav-ul {
        background: #3236397d;
    }
    .menu-button {
        color: white;
    }
    body {
        background: #131719;
        color: white;
    }
    footer {
        background: #323639;
    }
    .dot {
        background-color: gray;
    }
    nav li {
        color: white;
    }
    button.normal {
        background: #323639;
    }
    nav li:hover {
        border-top-color: gray;
    }
    .centered-404 h1, .centered-404 .inside-404 p {
        color: white !important;
    }
    a {
        color: #00a1ff;
    }
    button#fullscreen {
        background: #131719e3;
        color: white;
    }
    .announcement-box {
        background: #1b2022;
    }
}
/* 404 page */
.centered-404 {
    height: 1219px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.centered-404 h1, .centered-404 .inside-404 p {
    color: #444444;
}
.home-section h1, .inside-404 h1 {
    text-align: center; 
    font-size: 80px;
}
.home-section, .inside-404 {
    width: 98%
}
.home-section p, .inside-404 p {
    color: white; 
    text-align: center;
    font-size: 20px;
} 
@keyframes text-fade-in {
    0% {transform: translateY(+10px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}