/*Body and general styles*/
body {
    background-repeat: repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-color: #f0f0eba3;
    margin:0 !important;
    font-family: Open Sans;
    color: #444444;
    /*transition: 0.5s ease-in-out;*/
}
html {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, .site-container {
    transition: 0.3s;
}
h1, h2, h3, h4, h5, h6, span {
    font-family: Lato;
}
p, .site-container {
    font-family: Open Sans;
}
.site-container {
    padding-bottom: 10px;
    position: relative;
}
.site-container p {
    margin: 8px 0px;
}
body.effects-visible .effect-menu {
    display: block;
}
body.themeoptions-visible .theme-menu {
    display: block;
}
.effect-menu p, .theme-menu p {
    color: white;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 20px;
}
.effect-menu button, .theme-menu button {
    margin-right: 5px; 
    margin-top: 5px;
}
.effect-menu .last, .theme-menu .last {
    margin-right: 0px;
}
.effect-menu {
    display: none;
}
.theme-menu {
    display: none;
}
.effect-bar {
    padding: 10px 0px;
}
button, img, span {
    user-select: none;
}
button.small, button.normal, button.big, button#fullscreen, button.gsc-search-button.gsc-search-button-v2 {
    font-family: Lato;
    border-radius: 5px;
    padding: 13px;
    border: 0;
    box-shadow: 0px 2px 7px 0px #0000001a;
    background: #ffffffe3;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.game:hover, button.small:hover, button.normal:hover, button.big:hover, button#fullscreen:hover, button.gsc-search-button.gsc-search-button-v2:hover, .hovereffect a:hover {
    box-shadow: 0px 2px 7px 0px #00000024;
}
button.gsc-search-button.gsc-search-button-v2  {
    padding: 7px 7px;
}
button.gsc-search-button.gsc-search-button-v2 svg {
    fill: black;
}
button.small {
    font-size: 10px;
}
button.normal {
    font-size: 16px;
}
button.big {
    font-size: 25px;
}
body.dark a {
    color: #0089ff !important;
}
body.dark a:active {
    color: #5db4ff !important;
}
/*Menu*/
.logo {
    width:78px;
    cursor: pointer;
    height: 78px;
    background-image: url(/images/lkg-logo-small.webp);
    transition: 0.3s;
    background-size: cover;
    font-size: 0px;
}
.logo:hover {
    background-image: url(/images/lkg-logo-small-text.png);
}
.menu, .mobile-menu {
    max-height: 78px;
    width: 100%;
    height: 100%;
    background-color: #ffffffcc;
    z-index: 2;
    box-shadow: -2px 1px 12px 3px #0000004f;
    overflow: hidden;
}
.menu-table {
    padding: 0;
    margin: 0;
    border-spacing: unset;
}
.menu td {
    padding: 0;
    vertical-align: top;
}
.menu-button {
    height: 78px;
    border: 0;
    background-color: transparent;
    font-family: Lato;
    font-size: 16px;
    padding: 10px 6px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 81px;
    color: black;
}
.sun, body.dark .moon {
    display: none;
}
body.dark .sun {
    display: inline-block;
}
body.dark .dark-mode-text {
    font-size: 0px;
}
body.dark .dark-mode-text:after {
    font-size: 16px;
    content: 'Licht';
}
.menu-button:hover {
    background-color: #ffffffcc;
}
.menu-button img {
    max-height: 35px;
    height: 100%;
    transition: transform 0.2s;
}
.menu-button:hover img {
    transform: rotate(360deg);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888;
    box-shadow: 0px 2px 7px 0px #0000001a;
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    box-shadow: 0px 2px 7px 0px #00000024;
}

/*Tags for elements*/
p[no-margin] {
    padding: 0 !important;
    margin: 0 !important;
}
.sticky {
    position: sticky;
    top:0;
}
.blue {
    background: #5facea;
}
.white {
    background: #f0f0eba3;
}
.use-background {
    background-image: url(/images/old-background.webp);
    background-repeat: repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

/*Search bar and results*/
div#___gcse_0 {
    display: inline-block;
    width: 404px;
    vertical-align: middle;
    margin-right: 10px;
}
input#gsc-i-id1 {
    font-size: 16px;
    color: black;
    font-family: Lato;
    padding: 0px 10px !important;
    background: transparent;
}
table#gs_id50 {
    height: 27px;
}
.search-results {
    top: 77px;
    z-index: 1;
    background: #f0f0eba3;
}
.gsc-control-cse {
    border-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}
.cse .gsc-control-cse, .gsc-control-cse {
    border: none !important
    ;
}
.gsc-input-box {
    border-radius: 5px;
    border:0 !important;
    box-shadow: 0px 2px 7px 0px #0000001a;
    background: #ffffffe3 !important;
}
td.gsc-orderby-container {
    display: none;
}
.gsc-webResult.gsc-result, .gsc-above-wrapper-area, .gcsc-more-maybe-branding-root {
    border: 0 !important;
}
.gcsc-more-maybe-branding-root {
    display: none;
}
.search-results * {
    font-family: Lato;
}
.gs-bidi-start-align.gs-snippet {
    font-family: Open Sans !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
    background: none !important;
}
.gs-webResult.gs-result a b {
    color: #00aef1 !important;
}
/*Categorieën*/
.category-title, .update-version, .update-title {
    color: white;
    display: inline-block;
    width: 49.6%;
    transform: translateY(33%);
}
.category-title h1, .update-version h1, .update-title h1 {
    transform: scale(1.5);
}
.category-background {
    display: inline-table;
    width: 50.1%;
    user-select: none;
    background-size: cover;
    background-position-y: center;
}
.category-background, .category-gradient, .category-title, .update-version, .update-title {
    height: 150px;
}
.category-gradient {
    display: inline-table;
    background: linear-gradient(90deg, #5facea 20%, #fff0 100%);
    position: absolute;
    height: 150px;
    width: 203px;
    user-select: none;
    /*display: none;*/
}
.category-description {
    position: absolute;
    right: calc(50% - 69.81px);
    top: 30px;
}
.category-title h1, .category-background h1, .update-version h1, .update-title h1 {
    margin: 0;
}
.category-grid {
    display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
@media screen and (max-width: 1230px) {
.category-grid {
    grid-template-columns: auto auto auto auto auto auto !important;
}
}
@media screen and (max-width: 1040px) {
    .category-grid {
        grid-template-columns: auto auto auto auto auto !important;
    }
    }
@media screen and (max-width: 880px) {
            .category-grid {
            grid-template-columns: auto auto auto auto !important;
            }
}
@media screen and (max-width: 700px) {
    .category-grid {
                grid-template-columns: auto auto auto !important;
    }
}
@media only screen and (max-width: 500px) {
    .category-background, .category-gradient, .category-title, .update-version, .update-title {
        height: 70px !important;
    }
    .category-title h1 {
        font-size: 20px !important;
    }
}
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.grid-filler {
    width: 162px; 
    height: 144px;
}
.display-block {
    display: block !important;
}
.game {
    box-shadow: 0px 2px 7px 0px #0000001a;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    padding: 0px 0px 10px 0px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
    max-width: 162px;
    width: 100%;
    background: #ffffffe3;
}
.blocked-game .game-name {
    color: #d20000;
}
.blocked-game:hover .game-name {
    font-size: 0px !important;
}
.blocked-game:hover .game-name::after {
    font-size: 16px;
    content: 'Geblokkeerd! :('
}

@media screen and (max-width: 1280px) {
    .category-gradient, .category-background, .update-version {
    display: none;
    }
  }
.game-img {
    width:162px;
    height: 167px;
    padding-bottom: 5px;
}
@media screen and (max-width: 1230px) {
    .grid-filler {
        display: none;
    }
}
.category-table td {
    vertical-align: top;
}
.category-table {
    margin: 10px 0px;
}

/*Homepage slideshow*/
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    color: white;
}
@media only screen and (min-width: 2560px) {
        .mySlides, .mySlides td {
            height: 572px !important;
        }
}
@media only screen and (min-width: 1920px) {
    .mySlides, .mySlides td {
        height: 457px;
    }
}
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff80;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: white;
  }
  .fade {
    animation: slideshow-fade 0.25s linear;
  }
  @keyframes fade {
    0% {opacity: 0} 
    100% {opacity: 1}
  }
  @keyframes slideshow-fade {
      0% {transform: scale(0.9); opacity: 0;}
      100% {transform: scale(1); opacity: 1;}
  }
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  .slideshow-container p {
      margin-top: 5px !important;
      font-family: Open Sans;
  }
/*Dark mode styles*/
body.dark {
    background: #131719;
    color: white;
}
body.dark .white {
    background: #131719;
}
body.dark .blue {
    background: #323639 !important;
}
body.dark .menu {
    background: #1b2022cc;
}
body.dark button.small, body.dark button.normal, body.dark button.big, body.dark .lekrkoekj-paginas, body.dark .populaire-geems, body.dark .nieuwste-geems, body.dark .on-white, body.dark .game {
    background: #1b2022 !important;
    color: white;
}
body.dark .gsst_a .gscb_a {
    color: white !important;
} 
body.dark .hovereffect a.info, body.dark .hovereffect h2 {
        background: #1b2022bf !important;
        color: white !important;
}
body.dark .menu-button:hover {
    background: #323639cc
}
body.dark img[src="/images/misc-icon.webp"] {
    filter: invert(1);
}
body.dark h1, body.dark h2, body.dark h3, body.dark span, body.dark h4, body.dark h5, body.dark h6, body.dark p, body.dark .gs-bidi-start-align.gs-snippet, body.dark div#resInfo-0 {
    color: white;
}
body.dark .gsc-input-box, body.dark button.gsc-search-button.gsc-search-button-v2 {
    background: #323639cc !important;
}
body.dark .gsc-input-box input {
    color: white !important;
}
body.dark button.gsc-search-button.gsc-search-button-v2 svg {
    fill: white !important;
}
body.dark .gsc-control-cse, body.dark .gsc-resultsbox-visible, body.dark .gsc-webResult.gsc-result, body.dark .gsc-results .gsc-imageResult {
    background: #131719;
}
body.dark .category-gradient {
    background: linear-gradient(90deg, #323639 20%, #fff0 100%) !important;
}
/*Lekre effectj's effecten & Thema opties*/
body.inverted {
    filter: invert(1);
}
body.inverted #invert, body.all-turned-1deg #all-turn-1deg, body.saturated #saturation, body.turned #turn, body.spinning #site-spin, body.slow-spinning #slow-site-spin, body.img-turned #img-turn, body.pinkgreen #pink-green, body.text-turned #text-turn, body.all-turned #all-turn, body.pink #pink, body.all-turned-36deg #all-turn-36deg, body.white #white, body.old #old, body.white-background #white-background, body.effect-spin #f-effect, body.spastic-background #spastic-background, body.lekrdraaitj #lekrdraaitj, body.lekrknippertj #lekrknippertj, body.shadow #lekrschaduwtj, body.shadow-inset #lekrschaduwtj-inset, body.zoomed #lekrzoompj, body.border #lekrrandj, body.fat-border #lekrdikrandj, body.lkg4background #lkg4bg, body.green-theme #green-theme, body.turquoise-theme #turquoise-theme, body.purple-theme #purple-theme, body.pink-theme #pink-theme, body.orange-theme #orange-theme, body.red-theme #red-theme {
    font-weight: bold;
    color: forestgreen;
}
body.saturated {
    filter: saturate(10000%);
}
body.turned {
    transform:rotate(180deg);
}
body.spinning .site-container {
    animation: wrapper-spin 2.5s infinite linear;
}
body.spinning {
    overflow-x: hidden;
}
body.slow-spinning .site-container {
    animation: wrapper-spin 10s infinite linear;
}
body.slow-spinning {
    overflow-x: hidden;
}
body.img-turned img, body.img-turned .logo {
    transform: rotate(180deg);
}
body.pinkgreen *, body.pinkgreen {
    color: deeppink !important;
    background: lime !important;
    border-color: deeppink !important;
}
body.text-turned h1, body.text-turned h2, body.text-turned h3, body.text-turned h4, body.text-turned h5, body.text-turned h6, body.text-turned p, body.text-turned span, body.text-turned .hovereffect a {
    transform: rotate(180deg);
}
body.all-turned *, body.all-turned {
    transform: rotate(180deg);
}
body.all-turned-1deg *, body.all-turned-1deg {
    transform: rotate(1deg);
}
body.all-turned-36deg *, body.all-turned-36deg {
    transform: rotate(36deg);
}
body.pink * {
    color: pink !important;
    border-color: pink !important;
}
body.white * {
    color: white !important;
    border-color: white !important;
}
body.white-background {
    background: white !important;
    background-image: none;
}
body.old {
    background-image: url(/images/gif/lekrkoekj-fast.gif) !important;
    background-repeat: repeat;
    background-size: auto;
    animation: none;
}
body.effect-spin *:hover {
    width: 120px;
   height: 120px;
    animation: effect-spin 1s cubic-bezier(0, 0, 0, 0) infinite;
        float:left;
    }
@keyframes effect-spin {
        0% { transform:rotateY(360deg) rotateZ(360deg);}
        }
body.spastic-background {
animation: bg-scroll2 1s infinite cubic-bezier(0, 0, 0, 0);
}
@keyframes bg-scroll2 {
50% {background-position: -8000px 800px;}
75% {background-position: -8000px 8000px;}
}
body.lekrdraaitj * {
animation: draai 10s infinite ease-in-out !important;
}
@keyframes draai {
50% {transform: rotateZ(360deg);}
}
body.lekrknippertj * {
animation: knipper 0.1s infinite
}
@keyframes knipper {
    50% {opacity:0;}
    }
body.shadow * {
box-shadow: 0px 0px 20px 20px black !important;
    text-shadow: 0px 0px 20px black !important;
}
body.shadow-inset * {
box-shadow: 0px 0px 20px 20px inset black !important;
    text-shadow: 0px 0px 20px inset black !important;
}
body.zoomed * {
animation: zoom 2.5s infinite ease-in-out;
}
@keyframes zoom {
50% {transform: scale(2);}
}
body.border * {
    border: 1px solid red !important;
}
body.fat-border * {
    border: 5px solid red !important;
}

button#lekrdikrandj {
    margin-right: 0px !important;
}
@keyframes wrapper-spin {
        100% {transform:rotate(360deg)}
    }





    body.lkg4background {
        background-image: url(/images/old-background.webp);
    animation: bg-scroll 500s infinite cubic-bezier(0, 0, 0, 0);
    background-repeat: repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    }
    @keyframes bg-scroll {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: -8000px 0px;
        }
      }

      body.green-theme .blue {
          background: #64b752;
      }
      body.green-theme .category-gradient {
        background: linear-gradient(90deg, #64b752 20%, #fff0 100%);
      }

      body.turquoise-theme .blue {
        background: #43b6bb;
    }
    body.turquoise-theme .category-gradient {
      background: linear-gradient(90deg, #43b6bb 20%, #fff0 100%);
    }

    body.purple-theme .blue {
        background: #9a95fd;
    }
    body.purple-theme .category-gradient {
      background: linear-gradient(90deg, #9a95fd 20%, #fff0 100%);
    }

    body.pink-theme .blue {
        background: #f680c1;
    }
    body.pink-theme .category-gradient {
      background: linear-gradient(90deg, #f680c1 20%, #fff0 100%);
    }

    body.orange-theme .blue {
        background: #dd9257;
    }
    body.orange-theme .category-gradient {
      background: linear-gradient(90deg, #dd9257 20%, #fff0 100%);
    }

    body.red-theme .blue {
        background: #ea5f5f;
    }
    body.red-theme .category-gradient {
      background: linear-gradient(90deg, #ea5f5f 20%, #fff0 100%);
    }
/*Homepage only*/
.title {
    font-size: 29px;
    padding-bottom: 0px;
}
.dot {
    cursor: pointer;
}
.populaire-geems, .lekrkoekj-paginas, .nieuwste-geems {
    width: 100%;
    height: 560px;
    transition: 0.3s;
    background-color: #ffffffbf;
    max-width: 648px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px #0000001a;
    transition: 0.3s;
    overflow: hidden;
    margin-top: 20px;   
}
.lekrkoekj-paginas {
    height: 398px;
}
.hovereffect {
width:162px;
height:162px;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
transition: 0.3s;
z-index: 1;
}
.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
transition: 0.3s;
}
.hovereffect img {
display:block;
position:relative;
transition: 0.3s;
}
.hovereffect h2 {
color:black;
text-align:center;
position:relative;
font-size:17px;
background:#f0f0ebbf;
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
transition: 0.3s;
padding:10px;
width: 135px;
display: inline-block;
border-radius: 5px;
font-weight: normal;
box-shadow: 0px 2px 7px 0px #0000001a;
}
.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color: black;
border: none;
background: #f0f0ebbf;
opacity:0;
filter:alpha(opacity=0);
transition: 0.3s;
margin:25px 0 0;
padding:7px 14px;
border-radius: 5px;
box-shadow: 0px 2px 7px 0px #0000001a;
font-family: Lato;
font-size: 16px;
}
.hovereffect:hover img {
filter: blur(1px);
backface-visibility: hidden;
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}
.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}
.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}
.hovereffect:hover a.info {
-webkit-transition-delay:0s !important;
transition-delay:0s !important;
}
.hovereffect#lb {
    border-radius: 5px 0px 0px 0px;
}
.hovereffect#rb {
    border-radius: 0px 5px 0px 0px;
}
.home-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

/*Zoom fixes*/
@media only screen and (max-width: 1350px) {
    div#___gcse_0 {
        width: 281px;
    }
}
@media only screen and (max-width: 1296px) {
    .home-grid {
        grid-template-columns: auto;
    }
}
/*Mobile styles*/
@media only screen and (max-width: 930px) {
    .announcement-td2, .populaire-geems, .lekrkoekj-paginas, .nieuwste-geems {
        display: none;
    }
    .home-mobile-message {
        display: block;
    }
    .game-img {
        width: 100px;
        height: 105px;
    }
    /*span.game-name {
        font-size: 11px;
    }*/
}
@media only screen and (max-width: 1152px) {
    #container iframe, .blocked-game-overlay {
        width: 100% !important;
    }
}
@media only screen and (min-width: 930px) {
    .home-mobile-message, div#myNav {
        display: none;
    }
}


/*Mobile Menu*/
@media only screen and (max-width: 930px) {
    .menu {
        display: none;
    }
    .mobile-menu {
        display: block !important;
    }
}
.mobile-menu {
    display: none;
}
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: #000;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
    body.dark  .hamburger-inner, body.dark .hamburger-inner::before, body.dark .hamburger-inner::after {
        background-color: white;
    }

          .overlay {
            height: 0%;
            width: 100%;
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            background-color: #ffffffcc;
            overflow-y: hidden;
            transition: 0.5s;
          }
          body.dark .overlay, body.dark .mobile-menu {
              background-color: #1b2022cc;
          }
          .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
          }
          
          .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            transition: 0.3s;
          }
          
          .overlay a:hover, .overlay a:focus {
            color: black;
          }
          
          .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
          }
          
          @media screen and (max-height: 450px) {
            .overlay {overflow-y: auto;}
            .overlay a {font-size: 20px}
            .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
            }
          }
          body.dark a.closebtn {
            color: white !important;
        }

/*Game Pages*/

button#fullscreen {
    position: absolute;
    border-radius: 0px 0px 5px 0px;
}
body.dark #fullscreen {
    background: #1b2022a3;
    color: white;
}
  @media only screen and (max-width: 930px) {
    .blocked-game-overlay {
        display: none;
    }
  }
  @media only screen and (min-width: 930px) {
  .game-mobile-message {
      display: none;
  }
}
iframe, object {
    box-shadow: 0px 2px 7px 0px #0000001a;
        border: 0;
    }
#container {
    padding-top: 15px;
}
.blocked-game-overlay {
    width: 1152px;
    height: 768px;
    background-color: #fffffff0;
    animation: fade 1s;
}
#blocked-game-overlay {
    position: absolute;
    width: 100%;
    top: 165px;
    z-index: 2;
}
/*Page specific*/
.lkd-links {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.lkd-links-wt {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
@media only screen and (max-width: 930px) {
    .lkd-links, .lkd-links-wt {
        grid-template-columns: auto !important;
    }
  }
  @media only screen and (max-width: 1050px) {
      #container object {
          width: 100%;
      }
    }